.pin {
	padding-top: 10px;
}
.on-off {
	display: none;
}
.on-off+label:before {
	content: "OFF";
	padding: 5px;
	border-radius: 5px;
}
.on-off:checked+label:before {
	content: "ON";
	background-color: red;
}